<template>
    <v-container>
        <v-row>
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>
                        Filtr
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-row  v-for="subcategory in subcategories" :key="subcategory.id">
                            <v-col>
                                <SubcategoryFilter :subcategory="subcategory" @changed="filterChanged"></SubcategoryFilter>
                            </v-col>
                        </v-row>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-row>
        <v-row>
            <v-col cols="12" sm="6" lg="3" md="4" v-for="item in items" :key="item.id" >
                <Preview :item="item"></Preview>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import Preview from "../../components/Preview";
import SubcategoryFilter from "../../components/SubcategoryFilter";
export default {
    name: "_category",
    components: {SubcategoryFilter, Preview},
    data() {
        return {
            items: [],
            category:  "",
            subcategories: [],
        }
    },
    methods: {
        filterChanged(change) {
            for (const subcategory_key in this.subcategories) {
                if (this.subcategories[subcategory_key].id !== change.id) {
                    for (const value_key in this.subcategories[subcategory_key].values) {
                        this.subcategories[subcategory_key].values[value_key].available = false;
                    }
                }
            }
            for (const item_key in this.items) {
                this.items[item_key].fits_filter = true;
                for (const subcategory_key in this.items[item_key].subcategories) {
                    let subcategory = this.subcategories.find(sct => this.items[item_key].subcategories[subcategory_key].subcategory_id === sct.id);
                    if (!subcategory.value_checked)
                        this.items[item_key].fits_filter = true * this.items[item_key].fits_filter;
                    else if (subcategory.values.find(sct => sct.value === this.items[item_key].subcategories[subcategory_key].value).selected)
                        this.items[item_key].fits_filter = true * this.items[item_key].fits_filter;
                    else
                        this.items[item_key].fits_filter = false;
                }
                if (this.items[item_key].fits_filter)
                    for (const key in this.items[item_key].subcategories) {
                        this.subcategories.find(sct => sct.id === this.items[item_key].subcategories[key].subcategory_id).values.find(vl => vl.value === this.items[item_key].subcategories[key].value).available = true;
                    }
            }
        }
    },
    async mounted() {
        this.items = await this.$store.dispatch('items/loadItemsForCategory', this.$route.params.category);
        this.subcategories = await this.$store.dispatch('subcategories/loadSubcategories', this.$route.params.category);
        for (const item_key in this.items) {
            for (const subcategory_key in this.items[item_key].subcategories) {
                let add_value = true;
                let subcategory = this.subcategories.find(sc => sc.id === this.items[item_key].subcategories[subcategory_key].subcategory_id);
                for (const value_key in subcategory.values) {
                    if (subcategory.values[value_key].value === this.items[item_key].subcategories[subcategory_key].value)
                        add_value = false;
                }
                if (add_value)
                    this.subcategories.find(sc => sc.id === this.items[item_key].subcategories[subcategory_key].subcategory_id).values.push({value: this.items[item_key].subcategories[subcategory_key].value, available: true, selected: false});
            }
        }
    }
}
</script>

<style scoped>

</style>
