<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>
                        <v-spacer/>
                        {{item.name}}
                        <v-spacer/>
                    </v-card-title>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-row>
                        <v-col cols="6">
                            <v-img :src="url">
                            </v-img>
                        </v-col>
                        <v-col cols="1">
                            <v-divider vertical/>
                        </v-col>
                        <v-col cols="5" sm="5" lg="5" md="5">
                            <v-row>
                                <v-card-subtitle>
                                    {{item.short_description}}
                                </v-card-subtitle>
                            </v-row>
                            <v-row>
                                <v-card-subtitle>
                                    <b>Parametry</b>
                                </v-card-subtitle>
                                <v-card-text v-html="parameters_text">
                                </v-card-text>
                            </v-row>
                            <v-row>
                                <v-spacer/>
                                    <v-col cols="6" sm="6" lg="4" md="5">
                                        <v-card>
                                            <v-card-title>
                                                <v-spacer/>
                                                {{item.price}} Kč
                                                <v-spacer/>
                                            </v-card-title>
                                        </v-card>
                                    </v-col>
                                <v-spacer/>
                                    <v-col cols="6" sm="5" lg="3" md="4">
                                        <v-container>
                                            <v-spacer/>
                                            Sladem: <br> {{item.quantity}} Kusů
                                            <v-spacer/>
                                        </v-container>
                                    </v-col>
                                <v-spacer/>
                            </v-row>
                            <v-row>
                                <v-col cols="12" sm="12" lg="12" md="12">
                                    <v-card-actions>
                                        <v-btn
                                            @click="addToCart"

                                        >
                                            Přidat do košíku
                                        </v-btn>
                                    </v-card-actions>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title>
                        Popis
                    </v-card-title>
                    <v-card-text v-html="item.long_description"></v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-dialog
            v-model="show_dialog"
            width="500"
            >
            <v-card>
                <v-card-title class="text-h5 grey lighten-2">
                    <v-spacer/>
                    Zboží přidáno do košíku
                    <v-spacer/>
                </v-card-title>
                <v-card-text>
                    <v-card-title class="black--text">
                        <v-spacer/>
                        {{item.name}}
                        <v-spacer/>
                    </v-card-title>
                    <v-img :src="url">
                    </v-img>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-btn @click="show_dialog = false">
                        Zpět do obchodu
                    </v-btn>
                    <v-spacer/>
                    <v-btn to="/cart">
                        Přejít do košíku
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
export default {
    name: "_id",
    data() {
        return {
            item: {},
            parameters_text: "",
            show_dialog: false,
            cart: []
        }
    },
    computed: {
        url() {
            return "http://localhost:60302/api/image/" + this.$route.params.id;
        }
    },
    async mounted () {
        this.item = await this.$store.dispatch('items/loadSelectedItem', this.$route.params.id);
        for (const key in this.item.subcategories) {
            this.parameters_text = this.parameters_text + this.item.subcategories[key].subcategory_name + ": " + this.item.subcategories[key].value + "<br>";
        }
    },
    methods: {
        addToCart() {
            this.show_dialog = true;
            this.$store.dispatch('cart/addItemToCart', this.item);
        }
    }
}
</script>

<style scoped>

</style>
