<template>
    <v-card
        class="mx-auto"
    >
        <v-toolbar>
            <v-card-title>
                Fakturační údaje
            </v-card-title>
        </v-toolbar>
        <v-card-text>
            <form>
                <v-text-field
                    v-model="billing_information.name"
                    :error-messages="nameErrors"
                    label="Jméno"
                    required
                    @input="$v.billing_information.name.$touch()"
                    @blur="$v.billing_information.name.$touch()"
                ></v-text-field>
                <v-text-field
                    v-model="billing_information.surname"
                    :error-messages="surnameErrors"
                    label="Příjmení"
                    required
                    @input="$v.billing_information.surname.$touch()"
                    @blur="$v.billing_information.surname.$touch()"
                ></v-text-field>
                <v-text-field
                    v-model="billing_information.email"
                    :error-messages="emailErrors"
                    label="E-mail"
                    required
                    @input="$v.billing_information.email.$touch()"
                    @blur="$v.billing_information.email.$touch()"
                ></v-text-field>
                <v-text-field
                    v-model="billing_information.phone_number"
                    :error-messages="phonenumberErrors"
                    label="Telefonní číslo"
                    required
                    @input="$v.billing_information.phone_number.$touch()"
                    @blur="$v.billing_information.phone_number.$touch()"
                ></v-text-field>
                <v-text-field
                    v-model="billing_information.street"
                    :error-messages="streetErrors"
                    label="Ulice"
                    required
                    @input="$v.billing_information.street.$touch()"
                    @blur="$v.billing_information.street.$touch()"
                ></v-text-field>
                <v-text-field
                    v-model="billing_information.number"
                    :error-messages="numberErrors"
                    label="Číslo popisné"
                    required
                    @input="$v.billing_information.number.$touch()"
                    @blur="$v.billing_information.number.$touch()"
                ></v-text-field>
                <v-text-field
                    v-model="billing_information.town"
                    :error-messages="townErrors"
                    label="Město"
                    required
                    @input="$v.billing_information.town.$touch()"
                    @blur="$v.billing_information.town.$touch()"
                ></v-text-field>
                <v-text-field
                    v-model="billing_information.post_code"
                    :error-messages="postcodeErrors"
                    label="PSČ"
                    required
                    @input="$v.billing_information.post_code.$touch()"
                    @blur="$v.billing_information.post_code.$touch()"
                ></v-text-field>
                <v-col cols="12">
                    <v-row>
                        <v-btn :to="'/cart'">
                            Zpět do košíku
                        </v-btn>
                                <v-spacer/>
                        <v-btn
                            class="mr-4"
                            @click="submit"
                        >
                            Dokončit objednávku
                        </v-btn>
                    </v-row>
                </v-col>
            </form>
        </v-card-text>
    </v-card>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, maxLength, numeric } from 'vuelidate/lib/validators'
export default {
    name: "AddressForm",
    emits: ['change-orderCreated', 'change-409'],
    mixins: [validationMixin],
    validations: {
        billing_information: {
            name: {required, maxLength: maxLength(255)},
            surname: {required, maxLength: maxLength(255)},
            email: {required, email, maxLength: maxLength(255)},
            phone_number: {required, maxLength: maxLength(20)},
            street: {required, maxLength: maxLength(255)},
            number: {required, maxLength: maxLength(255), numeric},
            town: {required, maxLength: maxLength(255)},
            post_code: {required, maxLength: maxLength(255), numeric},
        }
    },
    data() {
        return {
            billing_information: {
                name: '',
                surname: '',
                email: '',
                phone_number: '',
                street: '',
                number: '',
                town: '',
                post_code: '',
            },
            order_id: ''
        }
    },
    methods: {
        async submit() {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                try {
                    let items = [];
                    for (const key in this.$store.state.cart.store.cart) {
                        this.billing_information.total_price = this.$store.state.cart.store.total_price;
                        let item = {
                            item_id: this.$store.state.cart.store.cart[key].id,
                            final_price_per_item: this.$store.state.cart.store.cart[key].price,
                            quantity: this.$store.state.cart.store.cart[key].selected_quantity
                        }
                        items.push(item);
                    }
                    this.$store.dispatch('cart/emptyCart');
                    this.order_id = await this.$store.dispatch('cart/finishOrder', {
                        billing_information: this.billing_information,
                        items: items,
                    });
                    this.$emit('change-orderCreated', {order_id: this.order_id});
                } catch (error) {
                    if (error.response)
                        if (error.response.status === 409)
                            this.$emit('change-409');
                        else throw(error);
                    else throw(error);
                }
            }
        }
    },
    computed: {
        nameErrors () {
            const errors = []
            if (!this.$v.billing_information.name.$dirty) return errors
            !this.$v.billing_information.name.required && errors.push('Jméno je povinný údaj')
            !this.$v.billing_information.name.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        surnameErrors () {
            const errors = []
            if (!this.$v.billing_information.surname.$dirty) return errors
            !this.$v.billing_information.surname.required && errors.push('Příjmení je povinný údaj')
            !this.$v.billing_information.surname.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        emailErrors () {
            const errors = []
            if (!this.$v.billing_information.email.$dirty) return errors
            !this.$v.billing_information.email.email && errors.push('Musí se jednat o platný e-mail')
            !this.$v.billing_information.email.required && errors.push('E-mail je povinný údaj')
            !this.$v.billing_information.email.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        phonenumberErrors () {
            const errors = []
            if (!this.$v.billing_information.phone_number.$dirty) return errors
            !this.$v.billing_information.phone_number.required && errors.push('Telefonní číslo je povinný údaj')
            !this.$v.billing_information.phone_number.maxLength && errors.push('Maximální délka je 20 číslic')
            return errors
        },
        streetErrors() {
            const errors = []
            if (!this.$v.billing_information.street.$dirty) return errors
            !this.$v.billing_information.street.required && errors.push('Ulice je povinný údaj')
            !this.$v.billing_information.street.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        numberErrors() {
            const errors = []
            if (!this.$v.billing_information.number.$dirty) return errors
            !this.$v.billing_information.number.required && errors.push('Číslo popisné je povinný údaj')
            !this.$v.billing_information.number.maxLength && errors.push('Maximální délka je 255 znaků')
            !this.$v.billing_information.number.numeric && errors.push('Číslo popisné musí být číslo')
            return errors
        },
        townErrors() {
            const errors = []
            if (!this.$v.billing_information.town.$dirty) return errors
            !this.$v.billing_information.town.required && errors.push('Město je povinný údaj')
            !this.$v.billing_information.town.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        postcodeErrors() {
            const errors = []
            if (!this.$v.billing_information.post_code.$dirty) return errors
            !this.$v.billing_information.post_code.required && errors.push('PSČ je povinný údaj')
            !this.$v.billing_information.post_code.maxLength && errors.push('Maximální délka je 255 znaků')
            !this.$v.billing_information.post_code.numeric && errors.push('PSČ musí být číslo')
            return errors
        }
    }
}
</script>

<style scoped>

</style>
