<template>
    <v-card>
        <v-col cols="12">
            <v-row>
                <v-col cols="2" :to="'/detail/'+item.id">
                    <v-img :src="url">
                    </v-img>
                </v-col>
                <v-col cols="5" :to="'/detail/'+item.id">
                    <v-card-title si>{{item.name}}</v-card-title>
                </v-col>
                <v-col cols="1">
                    <v-text-field
                        type="number"
                        step="any"
                        min="0"
                        :max="this.item.quantity"
                        ref="input"
                        v-model.number="quantity"
                    ></v-text-field>
                </v-col>
                <v-col cols="2">
                    <v-container>
                    <v-spacer/>
                    Sladem: <br> {{item.quantity}} Kusů
                    <v-spacer/>
                    </v-container>
                </v-col>
                <v-col cols="2">
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn>
                            {{itemPrice}} Kč
                        </v-btn>
                        <v-spacer/>
                    </v-card-actions>
                </v-col>
            </v-row>
        </v-col>
    </v-card>
</template>

<script>
export default {
    name: "CartItem",
    emits: ['updateRequired'],
    props:{
        item: {}
    },
    computed: {
        url() {
            return "http://localhost:60302/api/image/" + this.item.id;
        },
        itemPrice() {
            return this.item.price * this.item.selected_quantity;
        }
    },
    watch: {
        quantity: {
             handler(val) {
                if (val > this.item.selected_quantity)
                    this.$store.dispatch('cart/addItemToCart', this.item);
                else {
                    this.$store.dispatch('cart/removeItemFromCart', this.item.id);
                    this.$emit('updateRequired');
                }
            }
        }
    },
    data() {
      return {
         quantity: this.item.selected_quantity
      }
    }
}
</script>

<style scoped>

</style>
