<template>
    <v-container>
        <v-col cols="12">
            <v-row>
                <v-img :src="url">
                </v-img>
            </v-row>
            <v-row>
                <v-spacer/><b>{{item.name}}</b><v-spacer/>
            </v-row>
            <v-row>
                <v-spacer/>{{item.selected_quantity}} ks<v-spacer/>
            </v-row>
            <v-row>
                <v-spacer/><b>{{itemPrice}} Kč</b><v-spacer/>
            </v-row>
        </v-col>
        <v-divider/>
    </v-container>
</template>

<script>
export default {
    name: "CartItemSmall",
    props:{
        item: {}
    },
    computed: {
        url() {
            return "http://localhost:60302/api/image/" + this.item.id;
        },
        itemPrice() {
            return this.item.price * this.item.selected_quantity;
        }
    },
    watch: {
        quantity: {
            handler(val) {
                if (val > this.item.selected_quantity)
                    this.$store.dispatch('cart/addItemToCart', this.item);
                else {
                    this.$store.dispatch('cart/removeItemFromCart', this.item.id);
                    this.$emit('updateRequired');
                }
            }
        }
    },
    data() {
        return {
            quantity: this.item.selected_quantity
        }
    }
}
</script>

<style scoped>

</style>
