<template>
    <v-container>
        <v-col cols="12">
            <v-row>
                <v-img :src="url">
                </v-img>
            </v-row>
            <v-row>
                <v-spacer/><b>{{item.name}}</b><v-spacer/>
            </v-row>
            <v-row>
                <v-spacer/>{{item.quantity}} ks<v-spacer/>
            </v-row>
            <v-row>
                <v-spacer/><b>{{itemPrice}} Kč</b><v-spacer/>
            </v-row>
        </v-col>
        <v-divider/>
    </v-container>
</template>

<script>
export default {
    name: "OrderItem",
    props:{
        item: {}
    },
    computed: {
        url() {
            return "http://localhost:60302/api/image/" + this.item.item_id;
        },
        itemPrice() {
            return this.item.final_price_per_item * this.item.quantity;
        }
    },
    data() {
        return {
        }
    }
}
</script>

<style scoped>

</style>
