<template>
    <v-card
        class="mx-auto"
    >
        <v-toolbar>
            <v-spacer/>
            <v-card-title>
                Fakturační údaje
            </v-card-title>
            <v-spacer/>
        </v-toolbar>
        <v-card-text class="black--text">
            <v-col cols="12">
                <v-row dense>
                    <b>Objednávka číslo: {{order.id}}</b>
                </v-row>
                <v-row dense v-if="unprocessed">
                    <b>Datum vytvoření: {{order.created}}</b>
                </v-row>
                <v-row dense v-else>
                    <b>Datum zpracování: {{order.processed}}</b>
                </v-row>
                <v-row dense><v-divider/></v-row>
                <v-row dense>
                    <b>Osobní informace</b>
                </v-row>
                <v-row dense>
                    Jméno: {{order.name}}<br>
                </v-row>
                <v-row dense>
                    Příjmení: {{order.surname}}<br>
                </v-row>
                <v-row dense>
                    email: {{order.email}}<br>
                </v-row>
                <v-row dense>
                    Telefon: {{order.phone_number}}<br>
                </v-row>
                <v-row dense><v-divider/></v-row>
                <v-row dense>
                    <b>Adresa</b>
                </v-row>
                <v-row dense>
                    Ulice a číslo popisné: {{order.street}} {{order.number}}<br>
                </v-row>
                <v-row dense>
                    Město: {{order.town}}<br>
                </v-row>
                <v-row dense>
                    PSČ: {{order.post_code}}<br>
                </v-row>
            </v-col>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: "OrderInformation",
    props: {
        order: {},
        unprocessed: true
    }
}
</script>

<style scoped>

</style>
