<template>
    <v-card :to="'/detail/'+item.id" v-if="item.fits_filter">
        <v-spacer/>
        <v-img :src="url">
        </v-img>
        <v-spacer/>
        <v-card-title si>{{item.name}}</v-card-title>
        <v-card-actions>
            <v-spacer/>
            <v-btn>
                {{item.price}} Kč
            </v-btn>
            <v-spacer/>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props:{
        item: {}
    },
    computed: {
        url() {
            return "http://localhost:60302/api/image/" + this.item.id;
        }
    }
}
</script>

<style scoped>

</style>
