<template>
    <v-checkbox
        v-if="this.$props.value.available"
        v-model="selected"
        :label="this.$props.value.value"
        value="true"
    ></v-checkbox>
</template>

<script>
export default {
    name: "SubcategoryFilterValue",
    emits: ['changed'],
    props:{
        value: {},
    },
    data () {
        return {
            selected: []
        }
    },
    watch: {
        selected: {
            handler() {
                this.$props.value.selected = !this.$props.value.selected;
                this.$emit('changed',{value: this.$props.value.value, selected: this.$props.value.selected});
            }
        }
    },
    mounted() {
    }

}
</script>

<style scoped>

</style>
