<template>
    <v-row>
        <v-expansion-panels>
            <v-expansion-panel>
                <v-expansion-panel-header>
                    {{ this.$props.subcategory.name }}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-row>
                        <v-col cols="2" v-for="value in subcategory.values" :key="value.id" >
                            <SubcategoryFilterValue :value="value" @changed="boxChanged"></SubcategoryFilterValue>
                        </v-col>
                    </v-row>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-row>
</template>

<script>
import SubcategoryFilterValue from "./SubcategoryFilterValue";
export default {
    name: "SubcategoryFilter",
    components: {SubcategoryFilterValue},
    emits: ['changed'],
    props:{
        subcategory: {}
    },
    methods: {
        boxChanged(changed_value) {
            changed_value.id = this.$props.subcategory.id;
            if (changed_value.selected === true)
                this.$props.subcategory.value_checked = true;
            else {
                let checked = false;
                for (const key in this.$props.subcategory.values) {
                    if (this.$props.subcategory.values[key].selected)
                        checked = true;
                }
                this.$props.subcategory.value_checked = checked;
            }
            this.$emit('changed', changed_value);
        }
    }
}
</script>

<style scoped>

</style>
