<template>
    <v-app dark>

        <v-app-bar
            :clipped-left="clipped"
            fixed
            app
        >
            <v-btn to="/" >
            Vše
            </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/filter/Paddleboardy" >
                Paddleboardy
            </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/filter/Pádla" >
                Pádla
            </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/filter/Plachty" >
                Plachty
            </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/filter/Příslušenství" >
                Příslušenství
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn to="/cart">
                <v-icon left>
                    mdi-cart-variant
                </v-icon>
                Košík
            </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/loginPage">
                <v-icon left>
                    mdi-account
                </v-icon>
                Prodavač
            </v-btn>
        </v-app-bar>
        <v-main>
            <v-container>
                <Nuxt/>
            </v-container>
        </v-main>
        <v-footer
            :absolute="!fixed"
            app
        >
            <span>&copy; {{ new Date().getFullYear() }}</span>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    name: 'defaultLayout',
    data() {
        return {
            clipped: true,
            fixed: false
        }
    }
}
</script>
