<template>
    <v-app class="text-center">
        <h1 v-if="error.statusCode === 404">
            {{ message404 }}
        </h1>
        <h1 v-else >
            {{ messageOther }}
        </h1>
    </v-app>
</template>

<script>
export default {
    name: "errorPage",
    layout: 'empty',
    props: {
        error: {
            type: Object,
            default: null,
        },
    },
    data: () => ({
        message404: "404 Stránka nebyla nalezena",
        messageOther: "Vyskytla se neočekávaná chyba. Zkuste to prosím později"
    }),
    head() {
        const title =
            this.error.statusCode === 404 ? this.pageNotFound : this.otherError
        return {
            title
        }
    },
    mounted() {
        console.log(this.error);
    }
}
</script>

<style scoped>

</style>
