<template>
    <v-app dark>

        <v-app-bar
            :clipped-left="clipped"
            fixed
            app
        >
            <v-btn to="/userIndex" >
                Obrat
            </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/newOrders" >
                Nové objednávky
            </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/oldOrders" >
                Vyřízené objednávky
            </v-btn>
            <v-spacer></v-spacer>
            <div v-if="this.$store.state.user.loggedUser != null">
                {{this.$store.state.user.loggedUser.username}} &#160;
                <v-btn @click="logout">
                    <v-icon left>
                        mdi-logout
                    </v-icon>
                    Odhlásit se
                </v-btn>
            </div>
        </v-app-bar>
        <v-main>
            <v-container>
                <Nuxt/>
            </v-container>
        </v-main>
        <v-footer
            :absolute="!fixed"
            app
        >
            <span>&copy; {{ new Date().getFullYear() }}</span>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    name: 'userLayout',
    data() {
        return {
            clipped: true,
            fixed: false
        }
    },
    methods: {
        logout() {
            this.$store.state.user.loggedUser = null;
            this.$router.push('/loginPage');
        }
    }
}
</script>
