<template>
    <v-container>
        <v-row v-if="!submitted">
            <v-col cols="12">
                <v-row>
                    <v-col cols="9">
                        <AddressForm @change-orderCreated="showOrder" @change-409="error"></AddressForm>
                    </v-col>
                    <v-col cols="3">
                        <v-card>
                            <v-card-title>
                                <v-spacer/>
                                Váš Košík
                                <v-spacer/>
                            </v-card-title>
                            <v-divider/>
                            <v-container>
                                <v-row v-for="item in this.items" :key="item.id">
                                    <CartItemSmall :item="item"></CartItemSmall>
                                </v-row>
                                <v-row>
                                    <v-spacer/>
                                    <v-card>
                                        <v-card-subtitle class="black--text">
                                            <b> Celkem: {{this.$store.state.cart.store.total_price}} Kč </b>
                                        </v-card-subtitle>
                                    </v-card>
                                    <v-spacer/>
                                </v-row>
                                <br/>
                            </v-container>
                        </v-card>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row v-else>
            <v-toolbar>
                <v-card-title v-text="text" :class="color">
                </v-card-title>
            </v-toolbar>
        </v-row>
    </v-container>
</template>

<script>
import CartItemSmall from "../components/CartItemSmall";
import AddressForm from "../components/AddressForm";
export default {
    name: "address",
    components: {CartItemSmall, AddressForm},
    data() {
        return {
            items: [],
            submitted: false,
            received409: false,
            order_id: '',
            color: "green--text"
        }
    },
    methods: {
        showOrder(emitValue) {
            this.order_id = emitValue.order_id;
            this.submitted = true;
        },
        error() {
            this.submitted = true;
            this.received409 = true;
        }
    },
    computed: {
        text() {
            if (this.received409) {
                this.color = "red--text";
                return "Objednávka nebyla vytvořena, neboť Vámi vybrané zboží není dostupné v požadovaném množství";
            }
            else
                return "Objednávka číslo " + this.order_id + " byla úspěšně vytvořena";
        },

    },
    mounted() {
        if (this.$store.state.cart.store.cart.length === 0)
            this.$router.push('/cart');
        else this.items = this.$store.state.cart.store.cart;
    }
}
</script>

<style scoped>

</style>
