<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>
                        <v-spacer/>
                        Váš Košík
                        <v-spacer/>
                    </v-card-title>
                </v-card>
            </v-col>
        </v-row>
        <v-row v-if="no_items">
            <v-col cols="3"/>
            <v-col cols="6" sm="6" lg="6" md="6">
                <v-card>
                    <v-card-title>
                        <v-spacer/>
                        Váš nákupní košík je prázdný
                        <v-spacer/>
                    </v-card-title>
                </v-card>
            </v-col>
            <v-col cols="3"/>
        </v-row>
        <v-container v-else>
            <v-row v-for="item in this.items" :key="item.id">
                <CartItem :item="item" @updateRequired="update"></CartItem>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <v-row>
                        <v-col cols="9"></v-col>
                        <v-col cols="3">
                            <v-card>
                                <v-card-subtitle class="black--text">
                                    <b> Celkem: {{this.$store.state.cart.store.total_price}} Kč </b>
                                </v-card-subtitle>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <v-row>
                <v-spacer/>
                <v-btn :to="'/address'">
                    Pokračovat k doručení
                </v-btn>
                <v-spacer/>
            </v-row>
        </v-container>
    </v-container>
</template>

<script>
import CartItem from "../components/CartItem";
export default {
    name: "cart",
    components: {CartItem},
    data() {
        return {
            no_items: false,
            items: []
        }
    },
    methods: {
        update() {
            if (this.$store.state.cart.store.cart.length === 0)
                this.no_items = true;
            else this.items = this.$store.state.cart.store.cart;
        }
    },
    mounted() {
        this.update();
    }
}
</script>

<style scoped>

</style>
