<template>
    <v-container>
    <v-row>
        <v-col cols="12" sm="6" lg="3" md="4" v-for="item in items" :key="item.id" >
            <Preview :item="item"></Preview>
        </v-col>
    </v-row>
    </v-container>
</template>

<script>
import Preview from "../components/Preview";
export default {
    components: {Preview},
    data() {
        return {
            items: [],
        }
    },
    async mounted() {
        this.items = await this.$store.dispatch('items/loadItems');
    }
}
</script>

<style scoped>
</style>
