<template>
    <loginForm/>
</template>

<script>
import loginForm from "../components/LoginForm";
export default {
    name: "loginPage",
    components: {loginForm},
    beforeCreate() {
        if (this.$store.state.user.loggedUser != null)
            this.$router.push('/userIndex');
    }
}
</script>

<style scoped>

</style>
