<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar>
                        <v-card-title class="mx-auto" v-text="title">
                        </v-card-title>
                    </v-toolbar>
                </v-card>
            </v-col>
        </v-row>
        <v-row dense>
            <v-col cols="12">
                <v-select
                v-model="selectedOrder"
                :items="orders"
                item-text="display"
                return-object
                dense
                outlined
                hide-details
                class="ma-2"
                label="Objednávka"
                ></v-select>
            </v-col>
        </v-row>
        <v-row v-if="selectedOrder !== null">
            <v-col cols="12">
                <v-row>
                    <v-col cols="6">
                        <OrderInformation :order="this.selectedOrder" :unprocessed="false"></OrderInformation>
                    </v-col>
                    <v-col cols="6">
                        <v-card>
                            <v-card-title>
                                <v-spacer/>
                                Obsah objednávky
                                <v-spacer/>
                            </v-card-title>
                            <v-divider/>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" lg="3" md="4" v-for="item in this.selectedOrder.processed_order_items" :key="item.item_id">
                                        <OrderItem :item="item"></OrderItem>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-spacer/>
                                    <v-card>
                                        <v-card-subtitle class="black--text">
                                            <b> Celkem: {{this.selectedOrder.total_price}} Kč </b>
                                        </v-card-subtitle>
                                    </v-card>
                                    <v-spacer/>
                                </v-row>
                                <br/>
                            </v-container>
                        </v-card>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import OrderItem from "../components/OrderItem";
import OrderInformation from "../components/OrderInformation";
export default {
    name: "newOrders",
    layout: 'user',
    components: {OrderItem, OrderInformation},
    data () {
        return {
            title: "Zpracované objednávky",
            selectedOrder: null,
            orders: []
        }
    },
    async beforeCreate () {
        if (this.$store.state.user.loggedUser == null)
            await this.$router.push('/loginPage');
        else {
            this.orders = await this.$store.dispatch('orders/loadProcessedOrders');
        }
    }
}
</script>

<style scoped>

</style>
