<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar>
                        <v-card-title class="mx-auto" v-text="title">
                        </v-card-title>
                    </v-toolbar>
                </v-card>
            </v-col>
        </v-row>
        <form>
            <br>
            <v-col cols="12">
                <v-row dense>
                    <v-col cols="5">
                        <v-select
                            v-model="Input.from"
                            :items="timesFrom"
                            item-text="display"
                            return-object
                            dense
                            outlined
                            hide-details
                            class="ma-2"
                            label="Od"
                        ></v-select>
                    </v-col>
                    <v-col cols="5">
                    <v-select
                        v-model="Input.to"
                        :items="timesTo"
                        item-text="display"
                        return-object
                        dense
                        outlined
                        hide-details
                        class="ma-2"
                        label="Do"
                    ></v-select>
                    </v-col>
                    <v-col cols="2">
                    <v-btn class="ma-2" @click="display">
                        Zobrazit
                    </v-btn>
                    </v-col>
                </v-row>
            </v-col>
            <br>
            <apexchart v-if="data_received" type="area" height="350" :options="chartOptions" :series="series"></apexchart>
        </form>
    </v-container>
</template>

<script>
import VueApexCharts from 'vue-apexcharts';
export default {
    name: "userIndex",
    layout: 'user',
    components: {apexchart: VueApexCharts},
    computed: {
        timesTo() {
            if (this.Input.from !== "") {
                const index = this.timesFrom.indexOf(this.Input.from);
                return this.timesFrom.slice(index);
            }
        }
    },
    methods: {
        async display() {
            this.data_received = false;
            const firstIndex = this.timesFrom.indexOf(this.Input.from);
            const lastIndex = this.timesFrom.indexOf(this.Input.to);
            const payload = this.timesFrom.slice(firstIndex,lastIndex+1);
            const sales = await this.$store.dispatch('sales/getSales', payload);
            this.series[0].data = sales.numbers;
            this.chartOptions.xaxis.categories = sales.days;
            this.data_received = true;
        }
    },
    data () {
        return {
            title: "Obrat za zvolené období",
            data_received: false,
            Input: {
                from: "",
                to: "",
            },
            timesFrom: [],
            series: [{
                name: "Kč",
                data: []
            }],
            chartOptions: {
                chart: {
                    type: 'area',
                    stacked: false,
                    height: 350,
                    zoom: {
                        type: 'x',
                        enabled: true,
                        autoScaleYaxis: true
                    },
                    toolbar: {
                        autoSelected: 'zoom'
                    }
                },
                dataLabels: {
                    enabled: false
                },
                markers: {
                    size: 0,
                },
                title: {
                    text: "Obrat",
                    align: 'left'
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                    },
                },
                yaxis: {
                    labels: {
                        formatter: function (val) {
                            return val
                        },
                    },
                    title: {
                        text: '',
                    },
                },
                xaxis: {
                    categories: [],
                    type: 'text',
                },
                tooltip: {
                    shared: false,
                    y: {
                        formatter: function (val) {
                            return val
                        }
                    }
                }
            },
        }
    },
    async beforeCreate () {
        if (this.$store.state.user.loggedUser == null)
            await this.$router.push('/loginPage');
        else {
            this.timesFrom = await this.$store.dispatch('sales/getSaleDates');
            this.Input.from = this.timesFrom[this.timesFrom.length - 7];
            this.Input.to = this.timesFrom[this.timesFrom.length - 1];
        }
    }
}
</script>

<style scoped>

</style>
